<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/Mijn Drive/SQM">
        <classes>
            <class name="SQM.error_user.ErrorUserLoginTest">
                <methods>
                    <include name="testStandardUserCanLogin"/>
                    <include name="testUserCanLogOut"/>
                    <include name="testIfUserGetsErrorWhenUsernameNotFilledIn"/>
                    <include name="testIfUserGetsErrorWhenPasswordNotFilledIn"/>
                </methods>
            </class>
            <class name="SQM.error_user.ErrorUserLoginTestCheckoutInformationTest">
                <methods>
                    <include name="testWhenInformationFirstNameNotFilledIn"/>
                    <include name="testWhenInformationLastNameNotFilledIn"/>
                    <include name="testWhenInformationPostalCodeNotFilledIn"/>
                    <include name="testWhenEverythingIsFilledIn"/>
                </methods>
            </class>
            <class name="SQM.error_user.ErrorUserLoginTestCheckoutOverviewTest">
                <methods>
                    <include name="testTaxTotal"/>
                    <include name="testTotalItemPrice"/>
                    <include name="testTotalPrice"/>
                    <include name="testIfOrderIsCompleted"/>
                    <include name="testIfButtonToNavigateBackHomeWorks"/>
                </methods>
            </class>
            <class name="SQM.error_user.ErrorUserLoginTestInventoryItemTest">
                <methods>
                    <include name="testIfNavigatedToItemPageWhenClickingOnTitle"/>
                    <include name="testIfNavigatedToItemPageWhenClickingOnImage"/>
                    <include name="testIfNavigatedToShoppingCart"/>
                    <include name="testAddToCartInProduct"/>
                    <include name="testRemoveProductInCart"/>
                </methods>
            </class>
            <class name="SQM.error_user.ErrorUserLoginTestInventoryTest">
                <methods>
                    <include name="testFilterByPriceHighToLow"/>
                    <include name="testFilterByPriceLowToHigh"/>
                    <include name="testFilterByNameAtoZ"/>
                    <include name="testFilterByNameZtoA"/>
                    <include name="testAllItemsButton"/>
                </methods>
            </class>
            <class name="SQM.error_user.ErrorUserLoginTestMyCartObjectTest">
                <methods>
                    <include name="testProductsInCart"/>
                </methods>
            </class>
            <class name="SQM.peformance_glitch_user.PerformanceGlitchUserLoginTest">
                <methods>
                    <include name="testStandardUserCanLogin"/>
                    <include name="testUserCanLogOut"/>
                    <include name="testIfUserGetsErrorWhenUsernameNotFilledIn"/>
                    <include name="testIfUserGetsErrorWhenPasswordNotFilledIn"/>
                </methods>
            </class>
            <class name="SQM.peformance_glitch_user.PerformanceGlitchUserLoginTestCheckoutInformationTest">
                <methods>
                    <include name="testWhenInformationFirstNameNotFilledIn"/>
                    <include name="testWhenInformationLastNameNotFilledIn"/>
                    <include name="testWhenInformationPostalCodeNotFilledIn"/>
                    <include name="testWhenEverythingIsFilledIn"/>
                </methods>
            </class>
            <class name="SQM.peformance_glitch_user.PerformanceGlitchUserLoginTestCheckoutOverviewTest">
                <methods>
                    <include name="testTaxTotal"/>
                    <include name="testTotalItemPrice"/>
                    <include name="testTotalPrice"/>
                    <include name="testIfOrderIsCompleted"/>
                    <include name="testIfButtonToNavigateBackHomeWorks"/>
                </methods>
            </class>
            <class name="SQM.peformance_glitch_user.PerformanceGlitchUserLoginTestInventoryItemTest">
                <methods>
                    <include name="testIfNavigatedToItemPageWhenClickingOnTitle"/>
                    <include name="testIfNavigatedToItemPageWhenClickingOnImage"/>
                    <include name="testIfNavigatedToShoppingCart"/>
                    <include name="testAddToCartInProduct"/>
                    <include name="testRemoveProductInCart"/>
                </methods>
            </class>
            <class name="SQM.peformance_glitch_user.PerformanceGlitchUserLoginTestInventoryTest">
                <methods>
                    <include name="testFilterByPriceHighToLow"/>
                    <include name="testFilterByPriceLowToHigh"/>
                    <include name="testFilterByNameAtoZ"/>
                    <include name="testFilterByNameZtoA"/>
                    <include name="testAllItemsButton"/>
                </methods>
            </class>
            <class name="SQM.peformance_glitch_user.PerformanceGlitchUserLoginTestMyCartObjectTest">
                <methods>
                    <include name="testProductsInCart"/>
                </methods>
            </class>
            <class name="SQM.problem_user.ProblemUserLoginTest">
                <methods>
                    <include name="testStandardUserCanLogin"/>
                    <include name="testUserCanLogOut"/>
                    <include name="testIfUserGetsErrorWhenUsernameNotFilledIn"/>
                    <include name="testIfUserGetsErrorWhenPasswordNotFilledIn"/>
                </methods>
            </class>
            <class name="SQM.problem_user.ProblemUserLoginTestCheckoutInformationTest">
                <methods>
                    <include name="testWhenInformationFirstNameNotFilledIn"/>
                    <include name="testWhenInformationLastNameNotFilledIn"/>
                    <include name="testWhenInformationPostalCodeNotFilledIn"/>
                    <include name="testWhenEverythingIsFilledIn"/>
                </methods>
            </class>
            <class name="SQM.problem_user.ProblemUserLoginTestCheckoutOverviewTest">
                <methods>
                    <include name="testTaxTotal"/>
                    <include name="testTotalItemPrice"/>
                    <include name="testTotalPrice"/>
                    <include name="testIfOrderIsCompleted"/>
                    <include name="testIfButtonToNavigateBackHomeWorks"/>
                </methods>
            </class>
            <class name="SQM.problem_user.ProblemUserLoginTestInventoryItemTest">
                <methods>
                    <include name="testIfNavigatedToItemPageWhenClickingOnTitle"/>
                    <include name="testIfNavigatedToItemPageWhenClickingOnImage"/>
                    <include name="testIfNavigatedToShoppingCart"/>
                    <include name="testAddToCartInProduct"/>
                    <include name="testRemoveProductInCart"/>
                </methods>
            </class>
            <class name="SQM.problem_user.ProblemUserLoginTestInventoryTest">
                <methods>
                    <include name="testFilterByPriceHighToLow"/>
                    <include name="testFilterByPriceLowToHigh"/>
                    <include name="testFilterByNameAtoZ"/>
                    <include name="testFilterByNameZtoA"/>
                    <include name="testAllItemsButton"/>
                </methods>
            </class>
            <class name="SQM.problem_user.ProblemUserLoginTestMyCartObjectTest">
                <methods>
                    <include name="testProductsInCart"/>
                </methods>
            </class>
            <class name="SQM.standard_user.StandardUserLoginTest">
                <methods>
                    <include name="testStandardUserCanLogin"/>
                    <include name="testUserCanLogOut"/>
                    <include name="testIfUserGetsErrorWhenUsernameNotFilledIn"/>
                    <include name="testIfUserGetsErrorWhenPasswordNotFilledIn"/>
                </methods>
            </class>
            <class name="SQM.standard_user.StandardUserLoginTestCheckoutInformationTest">
                <methods>
                    <include name="testWhenInformationFirstNameNotFilledIn"/>
                    <include name="testWhenInformationLastNameNotFilledIn"/>
                    <include name="testWhenInformationPostalCodeNotFilledIn"/>
                    <include name="testWhenEverythingIsFilledIn"/>
                </methods>
            </class>
            <class name="SQM.standard_user.StandardUserLoginTestCheckoutOverviewTest">
                <methods>
                    <include name="testTaxTotal"/>
                    <include name="testTotalItemPrice"/>
                    <include name="testTotalPrice"/>
                    <include name="testIfOrderIsCompleted"/>
                    <include name="testIfButtonToNavigateBackHomeWorks"/>
                </methods>
            </class>
            <class name="SQM.standard_user.StandardUserLoginTestInventoryItemTest">
                <methods>
                    <include name="testIfNavigatedToItemPageWhenClickingOnTitle"/>
                    <include name="testIfNavigatedToItemPageWhenClickingOnImage"/>
                    <include name="testIfNavigatedToShoppingCart"/>
                    <include name="testAddToCartInProduct"/>
                    <include name="testRemoveProductInCart"/>
                </methods>
            </class>
            <class name="SQM.standard_user.StandardUserLoginTestInventoryTest">
                <methods>
                    <include name="testFilterByPriceHighToLow"/>
                    <include name="testFilterByPriceLowToHigh"/>
                    <include name="testFilterByNameAtoZ"/>
                    <include name="testFilterByNameZtoA"/>
                    <include name="testAllItemsButton"/>
                </methods>
            </class>
            <class name="SQM.standard_user.StandardUserLoginTestMyCartObjectTest">
                <methods>
                    <include name="testProductsInCart"/>
                </methods>
            </class>
            <class name="SQM.visual_user.VisualUserLoginTest">
                <methods>
                    <include name="testStandardUserCanLogin"/>
                    <include name="testUserCanLogOut"/>
                    <include name="testIfUserGetsErrorWhenUsernameNotFilledIn"/>
                    <include name="testIfUserGetsErrorWhenPasswordNotFilledIn"/>
                </methods>
            </class>
            <class name="SQM.visual_user.VisualUserLoginTestCheckoutInformationTest">
                <methods>
                    <include name="testWhenInformationFirstNameNotFilledIn"/>
                    <include name="testWhenInformationLastNameNotFilledIn"/>
                    <include name="testWhenInformationPostalCodeNotFilledIn"/>
                    <include name="testWhenEverythingIsFilledIn"/>
                </methods>
            </class>
            <class name="SQM.visual_user.VisualUserLoginTestInventoryItemTest">
                <methods>
                    <include name="testIfNavigatedToItemPageWhenClickingOnTitle"/>
                    <include name="testIfNavigatedToItemPageWhenClickingOnImage"/>
                    <include name="testIfNavigatedToShoppingCart"/>
                    <include name="testAddToCartInProduct"/>
                    <include name="testRemoveProductInCart"/>
                </methods>
            </class>
            <class name="SQM.visual_user.VisualUserLoginTestInventoryTest">
                <methods>
                    <include name="testFilterByPriceHighToLow"/>
                    <include name="testFilterByPriceLowToHigh"/>
                    <include name="testFilterByNameAtoZ"/>
                    <include name="testFilterByNameZtoA"/>
                    <include name="testAllItemsButton"/>
                </methods>
            </class>
            <class name="SQM.visual_user.VisualUserLoginTestMyCartObjectTest">
                <methods>
                    <include name="testProductsInCart"/>
                </methods>
            </class>
            <class name="SQM.visual_user.VisualUserUserLoginTestCheckoutOverviewTest">
                <methods>
                    <include name="testTaxTotal"/>
                    <include name="testTotalItemPrice"/>
                    <include name="testTotalPrice"/>
                    <include name="testIfOrderIsCompleted"/>
                    <include name="testIfButtonToNavigateBackHomeWorks"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>